{% extends "exercises/index.html" %}
{% load staticfiles %}
{% block title %}Correction{% endblock %}
{% block active-home %}{% endblock %}
{% block active-reso %}active{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h1>Corrigé de l'exercice</h1>
            {% for line in correction_line %}
                <h3>$$ {{ line }} $$</h3>
            {% endfor %}
            <a class="btn btn-sm btn-primary" href="{% url 'exercises:find' %}">Retour</a>
        </div>
    </div>
</div>
{% endblock %}