{% extends "exercises/index.html" %}
{% load staticfiles %}

{% block head %}<script type='text/javascript' src="{% static 'exercises/js/create.js' %}"></script>{% endblock %}
{% block title %}Création d'exercice{% endblock %}

{% block active-home %}{% endblock %}
{% block active-create %}active{% endblock %}
{% block content %}
<form id="create-form" action="{% url 'exercises:create' %}" method="post">{% csrf_token %}
    <div class="col-md-9">
        <div class="thumbnail">
            <div class="caption-full">
                <h1>Création d'exercice</h1>
                    <div>
                        <label for="title">Type d'exercice</label>
                        <SELECT name="type" id='type' class="form-control">
            		        <OPTION VALUE="Factorisation">Factorisation</OPTION>
            		        <OPTION VALUE="Développement">Développement</OPTION>
            	        </SELECT>
        	        </div>
                    <div>
                        <label for="equation">Equation à résoudre</label>
                        <input type="text" name="equation" id="equation" class="form-control equation">
                    </div>
                    <div>
                        <label for="grade">Difficulté</label>
                    	<SELECT name="grade" class="form-control">
        	                <OPTION VALUE="1">1</OPTION>
        	                <OPTION VALUE="2">2</OPTION>
                    		<OPTION VALUE="3">3</OPTION>
                    		<OPTION VALUE="4">4</OPTION>
                    		<OPTION VALUE="5">5</OPTION>
                    	</SELECT>
                    </div>
                        <button type="button" id="voir" class="btn btn-sm btn-primary">Faire le corrigé</button>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <div class="thumbnail corrigé">
            <div class="caption-full">
                <h1>Création de son corrigé</h1>
                <p class="formule"></p>
                <div>
                    <label for="correction"><br>Développement du corrigé</label>
                    <textarea id="correction" class="form-control" name="correction"></textarea>
                </div>
                <button type="button" id="submit-resolve" class="btn btn-sm btn-primary">Soumettre l'exercice</button>
            </div>
        </div>
    </div>
</form>
<div class="modal fade" id="form-warning">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Erreur</h4>
            </div>
            <div class="modal-body">
                <p>Vous devez remplir tous les champs pour soumettre votre réponse</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
