{% extends "exercises/index.html" %}
{% load staticfiles %}

{% block head %}<script type='text/javascript' src="{% static 'exercises/js/create.js' %}"></script>{% endblock %}
{% block title %}Création d'exercice{% endblock %}

{% block active-home %}{% endblock %}
{% block active-create %}active{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h1>Création d'exercice</h1>
            <form action="{% url 'exercises:create' %}" method="post">{% csrf_token %}
            <label for="title">Titre de l'exercice</label>
            <input type="text" id="title" name="title" class="form-control">
            <label for="donnee">Donnée de l'exercice</label>
            <textarea id="donnee" class="form-control" name="donnee"></textarea>
            <label for="equation">Equation à résoudre</label>
            <input type="text" id="equation" name="equation" class="form-control">
            <button type="button" id="voir" class="btn btn-sm btn-primary">Aperçu</button>
            <input type="submit" class="btn btn-sm btn-primary">
            </form>
        </div>
    </div>
</div>
<div class="col-md-offset-3 col-md-9" id="apercu">
    <div class="thumbnail">
        <div class="caption-full">
            <h2>Aperçu</h2>
            <div id="donnee-apercu"></div>
            <div id="formule"></div>
        </div>
    </div>
</div>
{% endblock %}
