{% extends "exercises/index.html" %}
{% load staticfiles %}
{% block title %}Exercice fait par les élèves{% endblock %}
{% block active-home %}{% endblock %}
{% block active-reso %}active{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <div>
                <h2>Voici l'équation de l'exercice {{ exercise.id }}</h2>
                <h1> {{ exercise.equation }} </h1>
                
                {% for exercise in exercises_done %}
                    <div class="thumbnail">
                        <div class="caption-full">
                           <h1> {{ exercise.resolution }} </h1>
                           <p>{{ exercise.student }}</p>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}