{% extends "exercises/index.html" %}
{% load staticfiles %}
{% block title %}Résolution d'exercice{% endblock %}
{% block active-home %}{% endblock %}
{% block active-reso %}active{% endblock %}
{% block head %}<script type='text/javascript' src="{% static 'exercises/js/find.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'exercises/css/find.css' %}"/>
{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h1>Rechercher un exercice</h1>
            <div>
                <label for="search">Entrez le numéro de l'exercice</label>
                <input type="text" id="search_input" name="search" class="form-control">
                <button type="button" id="search" name="search" class="btn btn-warning">Rechercher</button>
            </div>
            <div class="alert alert-info" id="true">
                <strong>Succès!</strong> <span id="lien"></span> de l'exercice en question.
            </div>
            <div class="alert alert-info" id="false">
                <strong>Erreur!</strong> Cet exercice n'existe pas ou n'existe plus, veuillez entrez un autre numéro
            </div>
            <div>
                {% for exercise in exercises_list %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <a href="{% url 'exercises:resolve' exercise.id %}">{{ exercise.title }}: {{ exercise.owner }} no{{ exercise.id }} difficulté :{{ exercise.grade }}</a>
                    </div>
                    <div class="panel-body">
                        <a id ="resolve" href="{% url 'exercises:done' exercise.id %}">Les résolutions des élèves</a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
{% endblock %}