{% extends "exercises/index.html" %}
{% load staticfiles %}
{% block title %}Résolution d'exercice{% endblock %}
{% block active-home %}{% endblock %}
{% block active-reso %}active{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h1>Résoudre un exercice</h1>
            <ul><h4>La difficulté croît de 1 à 5</h4>
                {% for exercise in exercises_list %}
                    <li><a href="{% url 'exercises:resolve' exercise.id %}">{{ exercise.title }} {{ exercise.owner }} <{{ exercise.id }}> difficulté :{{ exercise.grade }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}