{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Accueil{% endblock %}</title>

    <!-- Custom CSS -->
    <link href="{% static 'exercises/css/shop-item.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" >
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'exercises/css/style.css' %}">
    
    {% block head %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Webmath</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Cours</a>
                    </li>
                    <li>
                        <a href="{% url 'exercises:index' %}">Exercices</a>
                    </li>
                    <li>
                        <a href="https://quiztm-2014-blm08.c9.io/quiz/">Quiz</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Exercices</p>
                <div class="list-group">
                    <a href="{% url 'exercises:index' %}" class="list-group-item {% block active-home %}active{% endblock %}">Accueil</a>
                    <a href="{% url 'exercises:find' %}" class="list-group-item {% block active-reso %}{% endblock %}">Résoudre un exercice</a>
                    <a href="{% url 'exercises:create' %}" class="list-group-item {% block active-create %}{% endblock %}">Création d'exercice</a>
                </div>
            </div>

            {% block content %}
            <div class="col-md-9">

                <div class="thumbnail">
                    <div class="caption-full">
                        <h1>Bienvenue!</h1>
                        <p>Vous vous trouvez sur la page de l'application des exercices de Webmath. Choisissez l'action qui vous intéresse dans le menu latéral</p>
                    </div>
                </div>
            </div>
            {% endblock %}

        </div>

    </div>
</body>

</html>
