{% extends "exercises/index.html" %}
{% load staticfiles %}
{% block head %}<script type='text/javascript' src="{% static 'exercises/js/resolve.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'exercises/css/resolve.css' %}"/>
{% endblock %}
{% block title %}Résolution d'exercice{% endblock %}
{% block active-home %}{% endblock %}
{% block active-reso %}active{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h1 id="title">{{ exercise.title }}</h1>
            <div class="thumbnail">
                <p id ="eq">$$ {{ exercise.equation }} $$</p>
                <h6>crée le :{{ exercise.created_on  }}</h6>
                <form id="resolve-form" action="{% url 'exercises:resolve' id %}" method="post">{% csrf_token %}
                    <div>
                        <label for="response">Résoudre l'équation</label>
                        <textarea type="text" id="response" name="response" class="form-control"></textarea>
                    </div>
                    <button type="button" id="submit-resolve" class="btn btn-sm btn-primary">Soumettre et voir le corrigé</button>
                    <a class="btn btn-sm btn-primary" href="{% url 'exercises:done' id %}">Résolutions de cet exercice</a> 
                    <a class="btn btn-sm btn-primary" href="{% url 'exercises:find' %}">Retour</a>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="form-warning">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Erreur</h4>
            </div>
            <div class="modal-body">
                <p>Vous devez remplir tous les champs pour soumettre votre réponse</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" data-dismiss="modal">Ok</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}