{% extends "exercises/index.html" %}
{% load staticfiles %}
{% block head %}<script type='text/javascript' src="{% static 'exercises/js/resolve.js' %}"></script>{% endblock %}
{% block title %}Résolution d'exercice{% endblock %}
{% block active-home %}{% endblock %}
{% block active-reso %}active{% endblock %}
{% block content %}
<div class="col-md-9">
    <div class="thumbnail">
        <div class="caption-full">
            <h1 id="title">{{ exercise.title }}</h1>
            <div class="thumbnail">
                <p id ="donnee">{{ exercise.donnee }}</p>
                <p>{{ exercise.equation }}</p>
                <h6>crée le :{{ exercise.created_on  }}</h6>
                <input type="text" id="equation" name="equation" class="form-control">
            </div>
            <a class="btn btn-sm btn-primary" href="{% url 'exercises:find' %}">Retour</a>
            <a class="btn btn-sm btn-primary" href="{% url 'exercises:correction' %}">Corrigé</a>
        </div>
    </div>
</div>
{% endblock %}