#false {
    margin-top: 5px;
    background-color: #C0392B;
    color: #FFFFFF;
    border-color: #C0392B;
}
#true {
    margin-top: 5px;
    color: black;
    
}

#resolve {
    text-align: center;
}

#search {
    margin-bottom: 5px;
}

